{% extends 'rango/base.html' %}

{% load static %} <!-- New line -->

{% block title %}Jessica's Portfolio{% endblock %}

{% block body_block %}
    <!--/span-->
    <div class="span6">
            <div class="container">
        <!-- Jssor Slider Begin -->
        <div id="slider1_container" style="display: none; position: relative; width: 700px; height: 600px; overflow: scroll;">
            <div u="slides" style="cursor: move; position: absolute; overflow: hidden; left: 0px; top: 0px; width: 700px; height: 600px;">
                {% for media in jssor_media %}
                    <div><img u="{{ media }}" src="{{ media.file.path }}" />
                    </div>{% endfor %}
            </div>
        <!-- Navigator Skin Begin -->
        <!-- open 'skin\bullet-...source.html', copy and paste bullet navigator skin here -->
    <!-- Navigator Skin End -->
        </div>
        <!-- Jssor Slider End -->
    </div>

    </div>
    <!--/span-->
</div>
<!--/row-->
{% endblock %}
{% block page-scripts %}
    <style>
    h2{
        text-align: center;
    }
    </style>
    <script type="text/javascript" src="{% static 'js/jssor/js/jssor.slider.mini.js' %}"></script>
    <script>
        $(document).ready(function () {
            var options = {
                $FillMode: 1,
                $ArrowKeyNavigation: true,
                $BulletNavigatorOptions: {
                    $Class: $JssorBulletNavigator$,
                    $ChanceToShow: 2
                }
            };



            $("#slider1_container").css("display", "block");
            var jssor_slider1 = new $JssorSlider$("slider1_container", options);

        });
</script>
{% endblock %}